[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
ipython = "*"
jedi = "==0.14.1"
pillow = "*"

[packages]
tensorflow = "==1.15.2"
matplotlib = "*"
tqdm = "*"
pyyaml = "*"
attrdict = "*"
flask = "*"

[requires]
python_version = "3.6.8"
